.chatbox-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-msg {
  padding: 10px;
  width: 100%;
  border-radius: 33px;
  border: 4px solid black;
}

.text-send {
  display: flex;
  justify-content: space-between;
}

.msgbox {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
